.yellow-highlighter {
	background-color: yellow;
    box-shadow: yellow;
}

.cyan-highlighter {
	background-color: cyan;
    box-shadow: cyan;
}

.lime-highlighter {
	background-color: lime;
    box-shadow: lime;
}

.magenta-highlighter {
	background-color: magenta;
    box-shadow: magenta;
}